<% solr_documents_features_block.with_solr_helper(self) %>
<% indicators = [] %>
<% html_id = "carousel-#{solr_documents_features_block.object_id}" %>

<div class="content-block carousel-block item-features">
  <% if solr_documents_features_block.documents? %>
    <div id="<%= html_id %>" class="carousel" data-ride="carousel" data-interval="false">
      <div class="row">
        <div class="col-sm-6">
          <div class="carousel-inner">
            <% solr_documents_features_block.each_document.each_with_index do |(block_options, document), index| %>
              <% doc_presenter = document_presenter(document) %>
              <%# BEGIN CUSTOMIZATION - Add alt text %>
              <% image_alt_text = block_options[:alt].present? ? block_options[:alt] : doc_presenter.heading %>
              <div class="carousel-item <%= 'active' if index == 0 %>" data-id="<%= document.id %>">
                <% if block_options[:full_image_url].present? %>
                  <%= link_to_document(document, image_tag(block_options[:full_image_url], alt: image_alt_text, skip_pipeline: true), counter: -1) %>
                <% elsif block_options[:iiif_tilesource_base].present?  %>
                  <%= link_to_document(document, image_tag(block_options[:iiif_tilesource_base] + '/full/!800,800/0/default.jpg', alt: image_alt_text, skip_pipeline: true), counter: -1) %>
                <% elsif doc_presenter.thumbnail.exists? %>
                  <%= doc_presenter.thumbnail.thumbnail_tag({ alt: image_alt_text }, document_counter: -1) %>
              <%# END CUSTOMIZATION %>
                <% end %>
              </div>

              <% indicators << capture do %>
                <li data-target="#<%= html_id %>" data-bs-target="#<%= html_id %>" data-slide-to="<%= index %>" data-bs-slide-to="<%= index %>" class="list-group-item <%= 'active' if index == 0 %>">
                  <% caption_text = solr_documents_features_block.document_caption(doc_presenter, solr_documents_features_block.primary_caption_field, default: Spotlight::PageConfigurations::DOCUMENT_TITLE_KEY) %>
                  
                  <%# BEGIN CUSTOMIZATION - Render markdown links in item descriptions %>
                  <%# Count and truncate the text length only, do not consider any markdown links
                      don't render the link since this is the primary caption %>
                  <% stripped_caption_text = strip_tags(caption_text) %>
                    <a href="#" title="<%= stripped_caption_text %>">
                      <% if stripped_caption_text.length > 95 %>
                        <%= truncate(stripped_caption_text, length: 92) + '...' %>
                      <% else %>
                        <%= stripped_caption_text %>
                      <% end %>
                    </a>
                  <%# END CUSTOMIZATION %>

                  <% if solr_documents_features_block.secondary_caption? %>
                    <p><%= solr_documents_features_block.document_caption(doc_presenter, solr_documents_features_block.secondary_caption_field) %></p>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </div>
        </div>

        <!-- Indicators -->
        <ol class="carousel-indicators justify-content-start col-sm-6 list-group list-striped">
          <%= safe_join(indicators, "\n") %>
        </ol>
      </div>
    </div>
  <% end %>
</div>
