<% ### BEGIN CUSTOMIZATION (mhk) - UI theme %>
<% require 'version' %>
<div class="container copyright">
  <hr/>
  <p>The materials included within this site are intended for educational uses only. Unless stated otherwise, 
  all graphics and text presented in this exhibit are protected by U.S. copyright law. Persons wishing to 
  use any portion of this exhibit’s content are responsible for obtaining all necessary consent and/or 
  permissions as required by copyright law and bear sole responsibility for any infringing reuses.</p>
  <% if current_exhibit && show_contact_form? %>
   <p>
    For questions or more information, please use the <%= t('spotlight.header_links.contact') %> form at the top of the page.
    </p>
  <% end %>
</div>
<footer>
  <div class="container">
    <div class="row">
    <div class="col-sm-10">
      <p><a href="https://www.library.cornell.edu/copyright">©<%= Time.zone.now.year %></a> Cornell University Library, Ithaca, NY 14853 | (607) 255-4144 | <a href="http://www.library.cornell.edu/privacy">Privacy</a> | <a href="https://www.library.cornell.edu/web-accessibility">Web Accessibility Assistance</a></p>
      <% if current_user %>
      <p><small><a href="https://confluence.cornell.edu/display/exhibits/Curator+Documentation"><%= t(:'local_documentation') %></a></small></p>
      <% end %>
      <p class="version"><small>Cornell Exhibits <%= Version::VERSION %></small></p>
      <p class="version"><small>Spotlight <%= SPOTLIGHT_VERSION %></small></p>
    </div>
    <div class="col-sm-2">
      <% unless current_user %>
        <p><%= link_to t('spotlight.header_links.login'), main_app.new_user_session_path %></p>
      <% end %>
    </div>
    </div>
  </div>
</footer>
<% ### END CUSTOMIZATION %>
