<% ### BEGIN CUSTOMIZATION (mhk) - UI theme %>
<% require 'version' %>
<footer>
  <div class="container">
    <div class="row">
    <div class="col-sm-10">
      <p><a href="https://www.library.cornell.edu/copyright">©2021</a> Cornell University Library, Ithaca, NY 14853 | (607) 255-4144 | <a href="http://www.library.cornell.edu/privacy">Privacy</a> | <a href="https://www.library.cornell.edu/web-accessibility">Web Accessibility Assistance</a></p>
      <% if current_user %>
      <p><small><a href="https://cul-it.github.io/exhibits-library-cornell-edu/"><%= t(:'local_documentation') %></a></small></p>
      <% end %>
      <p class="version"><small>Cornell Exhibits <%= Version::VERSION %></small></p>
      <p class="version"><small>Spotlight <%= SPOTLIGHT_VERSION %></small></p>
    </div>
    <div class="col-sm-2">
      <% unless current_user %>
        <p><%= link_to t('spotlight.header_links.login'), main_app.new_user_session_path %></p>
      <% end %>
    </div>
    </div>
  </div>
</footer>
<%= render 'shared/analytics' %>
<% ### END CUSTOMIZATION %>
